@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");



/* Reset margins and padding for the entire page */
/* html, body {
  width:100%;
  height: 100%;
  margin: 0;
  padding: 0;
} */

/* Ensure body grows to fill the entire viewport */
 body {
  display: flex;
  flex-direction: column;
}
/* { 
  padding: 0;
  margin: 0;
} */
*{
  box-sizing: border-box;
}

/* .section__container { */
  /* max-width: var(--max-width); */
  /* margin: auto; */
  /* padding: 0rem 0rem; */
/* } */

.section__header {
  position: relative;
  padding-bottom: 0.0000001rem;
  margin-bottom: 1rem;
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--text-dark);
}

.section__header::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 50px;
  height: 3px;
  background-color: #21325e;
}

.section__description {
  max-width: 900px;
  /* color: var(--text-light); */
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  white-space: nowrap;
  color: #fff;
  background-color: #21325e;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  white-space: nowrap;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}



nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__links {
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--secondary-color);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

 @media (width > 480px) {
  .skill__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
  }

  .project__grid {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .project__card:nth-child(3) {
    grid-area: 2/2/3/3;
  }

  .footer__container {
    grid-template-columns: 2fr 1fr;
  }
}

@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none;
  }

  .header__container {
    padding-block: 0;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .header__content {
    padding-block: 5rem;
    grid-area: 1/1/2/2;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about__grid {
    gap: 3rem;
  }

  .skill__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .project__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .project__card:nth-child(3) {
    grid-area: unset;
  }

  .project__content {
    padding: 2rem;
  }

  .price__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(5, 1fr);
  }

  .footer__col:first-child {
    grid-column: 1/3;
  }
}

@media (width > 1024px) {
  .skill__grid {
    gap: 2rem;
  }

} 